body {
  margin: 10px;
  background: #f8f8f8; }

a {
  text-decoration: none; }

.node {
  margin: 0 0 10px 0;
  padding: 10px;
  border: 1px solid #eeeeee;
  background: #fff; }

.node-container {
  padding: 5px;
  border: 2px dashed #d7d8dc;
  background: none; }

.node-create {
  display: block;
  text-align: center;
  line-height: 50px;
  background: #eeeeee; }
.node-create:before {
  content: '+';
  font-size: 45px;
  font-weight: 600;
  color: #555555;
  vertical-align: top; }
.node-create:hover {
  background: #d7d8dc;
  text-decoration: none; }
