body {
  margin: 10px; }

.node-container {
  padding: 5px;
  border: 3px dashed #d7d8dc; }

.node-create {
  display: block;
  text-align: center;
  line-height: 50px;
  background: #eeeeee; }
.node-create:before {
  content: '+';
  font-size: 45px;
  font-weight: 600;
  color: #555555;
  vertical-align: top; }
.node-create:hover {
  background: #ffa600;
  text-decoration: none; }
.node-create:hover:before {
  color: #fff; }
