// @import '_bootstrap.scss';
@import 'bootstrap/_variables.scss';
@import 'bootstrap/_mixins.scss';

// ----------------------------------------------------------------------------------
body {
	margin: 10px;
	background: #f8f8f8;
	font: normal normal 16px/1.4 'Times New Roman';
}

header {
	font-weight: bold;
}

input, textarea, select, button {
	font-family: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
}

// ----------------------------------------------------------------------------------
// Grid
@import 'bootstrap/_grid.scss';

// ----------------------------------------------------------------------------------
// Forms
input[type='text'], textarea, select {
	& {
		width: 100%;
		box-sizing: border-box;
		border: 1px solid $gray-light;
		font-family: inherit;
		font-size: inherit;
		-webkit-appearance: none;
	}

	&:focus {
		outline: 0;
	}

	&.disabled {
		background: $gray-lighter;
	}
}

.form-item {
	margin: 0 0 10px 0;
}

.form-item .form-item {
	margin-bottom: 0;
}

.form-label {
	display: block;
}

.form-field {
	position: relative;
}

// ----------------------------------------------------------------------------------
// Nodes
.node {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid $gray-lighter;
	background: #fff;
}

.node-container {
	padding: 5px;
	border: 2px dashed $gray-light;
	background: none;
}

.node-create {
	& {
		display: block;
		text-align: center;
		line-height: 50px;
		background: $gray-lighter;
	}

	&:before {
		content: '+';
		font-size: 45px;
		font-weight: 600;
		color: $gray;
		vertical-align: top;
	}

	&:hover {
		& {
			background: $gray-light;
			text-decoration: none;
		}
	}
}