// @import '_bootstrap.scss';
@import 'bootstrap/_variables.scss';

// ----------------------------------------------------------------------------------
body {
	margin: 10px;
	background: #f8f8f8;
}

a {
	text-decoration: none;
}


// ----------------------------------------------------------------------------------
// Nodes
.node {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid $gray-lighter;
	background: #fff;
}

.node-container {
	padding: 5px;
	border: 2px dashed $gray-light;
	background: none;
}

.node-create {
	& {
		display: block;
		text-align: center;
		line-height: 50px;
		background: $gray-lighter;
	}

	&:before {
		content: '+';
		font-size: 45px;
		font-weight: 600;
		color: $gray;
		vertical-align: top;
	}

	&:hover {
		& {
			background: $gray-light;
			text-decoration: none;
		}
	}
}